.dl-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: relative;
  z-index: 10;
}

.dl-logo-img {
  height: 200px;     
  width: auto;       
  object-fit: contain;
  display: block;
}
