/* Remove the checkmark for valid fields */
.was-validated .form-control:valid {
    background-image: none !important;
  }

  .was-validated .form-control:in  valid {
    background-image: none !important;
  }
  