.was-validated .form-control:valid {
  background-image: none !important;
}

.was-validated .form-control:invalid {
  background-image: none !important;
}

.row .form-floating > .form-control {
  height: calc(3.5rem + 2px);
  padding-top: 1.5rem;
  padding-bottom: 0.625rem;    
  line-height: 1.25;
}

.row .form-floating > label {
  left: 0.75rem;
}
